{% extends 'base.html.twig' %}

{% block title %}Modifier mon profil{% endblock %}

{% block body %}
    <h1>Modifier mon profil</h1>

    {{ form_start(profileForm) }}
        {{ form_row(profileForm.email) }}
        {{ form_row(profileForm.prenom) }}
        {{ form_row(profileForm.nom) }}
        {{ form_row(profileForm.currentPassword) }}
        {{ form_row(profileForm.newPassword) }}
        <button class="btn">Sauvegarder</button>
    {{ form_end(profileForm) }}

    <a href="{{ path('app_profile_dashboard') }}">Retourner au profil</a>
{% endblock %}